<fieldset>
    <legend>Clubs</legend>
    <label for="clubmapOpt">Clubs</label>
    <select name="club" id="clubOpt">
        {% for k, club in clubs.iterrows %}
        <option value="{{club.club_id}}">{{club.club_name}}</option>
        {% endfor %}
    </select>
    <button type="submit" formaction="{% url 'ajax_nations' %}"
    name="action" value="getnations" class="jsGetNationsBtn">GetNations</button>
    <button type="button"
    name="action" value="delfieldset" class="jsRemoveClubsBtn">X</button>
</fieldset>