<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Builder</title>
    {% include "builder/style.css.html" %}
</head>
<body>
    <form action="{% url 'index' %}" method="get" class="jsCompetitionForm">
        <fieldset>
            <legend>Competitions</legend>
            <label for="competitionOpt">Competitions:</label>
            <select name="competition" id="competitionOpt">
                {% for cpk, cpv in competitions.items %}
                <option value="{{cpk}}">{{cpv}}</option>
                {% endfor %}
            </select>
            <label for="seasonOpt">Season:</label>
            <input type="range" id="seasonOpt" name="season" min="2000" max="2005" value="2000">
            <input type="number" name="ss" placeholder="2000">
            <input type="number" name="se" placeholder="2009">
            <button type="submit" formaction="{% url 'ajax_clubs' %}"
            name="action" value="getclubs">GetClubs</button>
            <button type="submit" formaction="{% url 'ajax_comp_nations' %}"
            name="action" value="getnations" class="jsGetNationsBtn">GetNations</button>
        </fieldset>
        <div class="jsClubsBox" style="display: none;"></div>
        <div class="jsNationsBox" style="display: none;"></div>
        <br>
        <button type="submit" formaction="{% url 'ajax_players' %}" formmethod="post"
        name="action" value="getplayers" class="jsSearchBtn">Search</button>
        <button type="reset">Reset</button>
    </form>
    <hr>
    <div class="jsPlayersBox">
        <table>
        </table>
    </div>
    <hr><br>
    <div id="fantasyTeam">
        <div>
            <button type="button" class="jsResetAlinBtn">Clear</button>
            <button type="button" class="jsAddPlayerBtn">Add</button>
        </div>
        <table>
            <tbody id="alineation">
            </tbody>
        </table>
    </div>
    {% load static %}
    <script src="{% static 'builder/script.js' %}"></script>
    <script type="text/javascript">
        var selectPlayer = null;
        handleFetchClubsEv();
        handleToggleClubsBox();
        handleAddPlayer();
    </script>
</body>
</html>