<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Builder</title>
    {% include "builder/style.css.html" %}
</head>
<body>
    <main>
        <form action="{% url 'index' %}" method="get" class="jsCompetitionForm">
            <fieldset class="fb-fieldset">
                <legend><strong># Competitions</strong></legend>
                <label for="competitionOpt">League:</label>
                <select name="competition" id="competitionOpt">
                    {% for cpk, cpv in competitions.items %}
                    <option value="{{cpk}}">{{cpv}}</option>
                    {% endfor %}
                </select>
                <label for="seasonOpt">Season:</label>
                <!-- <input type="range" id="seasonOpt" name="season" min="2000" max="2005" value="2000"> -->
                <input type="number" name="ss" placeholder="2000">
                <input type="number" name="se" placeholder="2009">
                <button type="submit" formaction="{% url 'ajax_clubs' %}"
                name="action" value="getclubs">GetClubs</button>
                <button type="submit" formaction="{% url 'ajax_comp_nations' %}"
                name="action" value="getnations" class="jsGetNationsBtn">GetNations</button>
            </fieldset>
            <div class="jsClubsBox" style="display: none;"></div>
            <div class="jsNationsBox" style="display: none;"></div>
            <details class="fb-details">
                <summary>Sql query</summary>
                    <label for="sql_query">Enter your SQL query:</label><br>
                    <textarea id="sql_query" name="sql" rows="10" cols="50" 
                        placeholder="SELECT * FROM tm_players WHERE club_id = 46;"></textarea>
            </details>
            <br>
            <button type="submit" formaction="{% url 'ajax_players' %}" formmethod="post"
            name="action" value="getplayers" class="jsSearchBtn">Search</button>
            <button type="reset">Reset</button>
        </form>
        <hr>
        <div class="fb-player-box">
            <div class="fb-player-box-item jsPlayersBox">
                <button type="button" class="jsPrevBtn">Prev</button>
                <button type="button" class="jsNextBtn">Next</button>
                <table class="fb-table">
                </table>
            </div>
            <hr class="fb-player-box-item-none"><br class="fb-player-box-item-none">
            <div class="fb-player-box-item">
                <div class="fb-box" id="fantasyTeam">
                    <div>
                        <button type="button" class="jsResetAlinBtn">Clear</button>
                        <button type="button" class="jsAddPlayerBtn">Add</button>
                        <button type="button" class="js-swap-btn">Swap</button>
                    </div>
                    <table class="fb-table fb-table-squad">
                        <tbody id="alineation">
                        </tbody>
                    </table>
                </div>
                <form class="fb-js-save-squad" action="{% url 'ajax_save_squad' %}" method="post" enctype='application/json'>
                    {% csrf_token %}
                    <!-- <input type="text" name="fb_squad_name" id="fbSquadNameTxt" placeholder="Squad Name">
                    <input type="hidden" name="fb_squad_row" id="fbSquadRowTxt" value="">
                    <input name='squad[0][id]' value='100'>
                    <input name='squad[0][club_id]' value='100'>
                    <input name='squad[0][season_id]' value='2000'>
                    <input name='squad[1][id]' value='101'>
                    <input name='squad[1][club_id]' value='100'>
                    <input name='squad[1][season_id]' value='2000'> -->
                    <button type="submit">Save Squad</button>
                </form>
            </div>
        </div>
        <hr>
        <form class="fb-js-find-squad" action="{% url 'ajax_find_squad' %}" method="get">
            <label for="squadSearch">Find Squad:</label>
            <input type="text" name="squad_name" id="squadSearch" placeholder="Squad Name">
            <button type="submit">Search</button>
        </form>
        <table class="fb-squad-list"> 
        </table>
    </main>
    {% load static %}
    <script src="{% static 'builder/script.js' %}"></script>
    <script type="text/javascript">
        var selectPlayer = null;
        handleFetchClubsEv();
        handleToggleClubsBox();
        handleAddPlayer();
        handlePrevPlayersTable();
        handleClearPlayers();
        handlePlayerBtn();
        handleSwapPlayers();
        handleSaveSquad();
        handleFindSquad();
        handleShowSquad();
    </script>
</body>
</html>