<tbody>
    {% for k, player in players.iterrows %}
    <tr data-playerid="{{ player.id }}">
        <td>{{ player.name }}</td>
        <td>{{ player.position }}</td>
        <td>{{ player.nationality }}</td>
        <td>{{ player.age}}</td>
        <td>{{ player.height }}</td>
        <td>{{ player.foot }}</td>
        <td>{{ player.joinedOn }}</td>
        <td>{{ player.club_name }}</td>
        <td><input type="checkbox" id="{{ player.id }}" name="playerRow" value="{{ player.id }}"></td>
        <td class="fb-js-player-btn-group" style="display: none;">
            <button type="button" class="fb-squad js-remove-btn">&#9249;</button>
            <button type="button" class="fb-squad js-up-btn">&utri;</button>
            <button type="button" class="fb-squad js-down-btn">&dtri;</button>
        </td>
    </tr>
    {% endfor %}
</tbody>