<style>

    *, *::before, *::after {
        box-sizing: border-box;
    }

    html {
        height: 100%;
        font-family: Arial, sans-serif;
        font-size: 100%;
        background-color: #f4f4f4;
        color: #333;
    }

    body {
        margin: 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: 0;
    }

    main {
        margin: 0;
        padding: 16px;
    }

    .fb-player-box {
        display: flex;
        flex-direction: row;
    }

    .fb-player-box-item {
        flex: 1;
    }

    .fb-player-box-item-none {
        display: none;
    }

    .fb-table {
        width: 100%;
        border-collapse: collapse;
    }

    .fb-table tr:hover {
        background-color: #f0f0f0;
    }

    .fb-table-squad {
        background-color: mediumseagreen;
    }

    .fb-fieldset {
        background-color: #dcdcdc;
        margin: 4px 0;
        padding-top: 16px;
    }

    .fb-details {
        background-color: #dcdcdc;
        /* background-color: #dfe9da; */
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 4px;
        padding: 4px 8px;
    }

    .fb-details > summary {
        font-weight: bold;
        cursor: pointer;
    }

    .fb-details[open] > summary {
        margin-bottom: 8px;
    }

    .fb-details[open] > summary {
        margin-bottom: 8px;
    }

</style>